assets/ filter=lfs diff=lfs merge=lfs -text
/assets filter=lfs diff=lfs merge=lfs -text
assets/* filter=lfs diff=lfs merge=lfs -text
assets/parkourplayer.glb filter=lfs diff=lfs merge=lfs -text
assets/parkourplayer.glb filter=lfs diff=lfs merge=lfs -text
assets/* filter=lfs diff=lfs merge=lfs -text
